:host {
  text-decoration: none;
  color: var(--colors-primary-font);
  .ui-nav-item {
    width: inherit;
    padding: 10px 20px;
    border-bottom: solid 1px var(--colors-primary-border);
    background-color: var(--colors-main-background-light);
    cursor: pointer;
    &:hover {
      // filter: brightness(85%);
      background-color: var(--colors-main-background-light-hover);
    }
  }
  &.active {
    .content {
      // background-color: var(--colors-primary-foreground-hover);
      color: var(--colors-secondary-font);
    }
  }
}
