:host ::ng-deep {
  width: 100%;
  .ui-nav {
    border: solid 1px var(--colors-primary-border);
    & > ui-nav-item:last-child > .ui-nav-item,
    & > [ui-nav-item]:last-child > .ui-nav-item {
      //   border-bottom-left-radius: var(--radius-m);
      //   border-bottom-right-radius: var(--radius-m);
      border-bottom: 0;
    }
  }
}
