:host ::ng-deep {
  width: 100%;
  .ui-nav {
    & > ui-nav-item {
      &:first-child > .ui-nav-item {
        border-top-left-radius: var(--radius-m);
        border-top-right-radius: var(--radius-m);
      }
      &:last-child > .ui-nav-item {
        border-bottom-left-radius: var(--radius-m);
        border-bottom-right-radius: var(--radius-m);
        border-bottom: solid 1px var(--colors-primary-border);
      }
    }
  }
}
