<div
  ui-layout-container
  *ngIf="{
    accepted: accepted$ | async,
    scenes: scenes$ | async,
    keyup: keyup$ | async
  } as $"
>
  <div ui-layout-sidebar>
    <div class="flex flex-row place-content-end place-items-center">
      <button ui-button-icon size="sm" (click)="refresh()">
        <fa-icon [icon]="refreshIcon"></fa-icon>
      </button>
      <button ui-button-icon size="sm" (click)="addScene()">
        <fa-icon [icon]="addIcon"></fa-icon>
      </button>
    </div>
    <ui-tree>
      <div ui-tree-item *ngFor="let scene of $.scenes" (click)="showFile(scene)">
        {{ scene.name }}
      </div>
    </ui-tree>
  </div>
  <div ui-layout-content></div>
  <div ui-layout-sidebar *ngIf="config$ | async as cfg">
    <div *ngIf="currentFile" class="flex flex-col gap-md">
      <ui-form-field direction="horizontal">
        <label ui-label class="w-[50px] flex-grow-0 text-sm">Name</label>
        <input ui-input [ngModel]="cfg['name'].value" (ngModelChange)="update(currentFile, 'name', $event)" size="xs" />
      </ui-form-field>
      <ui-form-field>
        <label ui-label class="w-[100px] text-sm place-self-start">Hierarchy</label>
        <ng-container *ngFor="let item of cfg['hierarchy'].value">
          <input ui-input [ngModel]="item.value" size="xs" />
        </ng-container>
        <!-- <input ui-input [ngModel]="cfg['name'].value" (ngModelChange)="update(currentFile, 'name', $event)" /> -->
      </ui-form-field>
    </div>
  </div>
</div>
