:host {
  width: 5px;
  margin: 0 3px;
  background-color: solid 2px transparent;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: var(--colors-secondary-border);
  }

  &.dragbar-horizontal {
    cursor: ew-resize;
  }

  &.dragbar-vertical {
    cursor: ns-resize;
  }
}
