<div
  class="ui-form-field flex gap-[var(--spacing-s)]"
  [ngClass]="{
    'flex-row': direction === 'horizontal',
    'flex-col': direction === 'vertical',
    'place-items-center': direction === 'horizontal'
  }"
>
  <div class="label flex flex-grow-0" (click)="input.querySelector('input')?.focus()">
    <ng-content select="[ui-label]"></ng-content>
  </div>
  <div class="flex flex-row flex-grow gap-[var(--spacing-m)]">
    <div class="flex-grow" #input>
      <ng-content></ng-content>
    </div>
    <div *ngIf="actions">
      <ng-content select="[ui-form-field-actions]"></ng-content>
    </div>
  </div>
</div>
